#Main {
    padding: 12px;
    padding-top:0;
}

#Main > section {
    padding: 0;
    margin: 2em 0;
}

#Main > h3, section > h3 {
    color: blue;
}

#Title {
    text-align: center;
    border-bottom: 1px solid blue;    
}

#Main * {font-size: 20px}
#Instructions, #Old, section[data-date] {display:none}

.NoAssess {
    text-align: center;
    font-weight: bold;
    margin-top: 2em;
}
