.Python {
    /* Styles for Python syntax highlighting via pygments */

    font-weight: normal;

    .hll, .hlb {background-color: #D8D8FF}
    .hlb {font-weight: bold}
    .mi, .mf {color: #098693} /* Integer, Float */
    .p, .sa, .si {color: #0000FF} /* Brackets, String.Affix */
    .k, .kn, .ow {color: #8035E9} /* Keywords */
    .nb, .nf {color: #774313} /* Name */
    .nn, .kc {color: #0065FE} /* Namespace, Constants */
    .c, .c1, .cs {color: #408000} /* Comment */
    .s, .s1, .s2, .sd {color: #AC1515} /* String */
    .sd {font-style: italic} /* Docstring */
    .se {color: red; font-weight: bold} /* Escape */


    /* .o {color: #666666} Operator */

    .err {border: 1px solid #FF0000} /* Error */
    .ch {color: #3D7B7B; font-style: italic} /* Comment.Hashbang */
    .cm {color: #3D7B7B; font-style: italic} /* Comment.Multiline */
    .cp {color: #9C6500} /* Comment.Preproc */
    .cpf {color: #3D7B7B; font-style: italic} /* Comment.PreprocFile */
    .gd {color: #A00000} /* Generic.Deleted */
    .ge {font-style: italic} /* Generic.Emph */
    .ges {font-weight: bold; font-style: italic} /* Generic.EmphStrong */
    .gr {color: #E40000} /* Generic.Error */
    .gh {color: #000080; font-weight: bold} /* Generic.Heading */
    .gi {color: #008400} /* Generic.Inserted */
    .go {color: #717171} /* Generic.Output */
    .gp {color: #000080; font-weight: bold} /* Generic.Prompt */
    .gs {font-weight: bold} /* Generic.Strong */
    .gu {color: #800080; font-weight: bold} /* Generic.Subheading */
    .gt {color: #0044DD} /* Generic.Traceback */
    .kd {color: #008000; font-weight: bold} /* Keyword.Declaration */
    .kp {color: #008000} /* Keyword.Pseudo */
    .kr {color: #008000; font-weight: bold} /* Keyword.Reserved */
    .kt {color: #B00040} /* Keyword.Type */
    .m {color: #666666} /* Literal.Number */
    .na {color: #687822} /* Name.Attribute */
    .nc {color: #0000FF; font-weight: bold} /* Name.Class */
    .no {color: #880000} /* Name.Constant */
    .nd {color: #AA22FF} /* Name.Decorator */
    .ni {color: #717171; font-weight: bold} /* Name.Entity */
    .ne {color: #CB3F38; font-weight: bold} /* Name.Exception */
    .nl {color: #767600} /* Name.Label */
    .nt {color: #008000; font-weight: bold} /* Name.Tag */
    .nv {color: #19177C} /* Name.Variable */
    .w {color: #bbbbbb} /* Text.Whitespace */
    .mb {color: #666666} /* Literal.Number.Bin */
    .mh {color: #666666} /* Literal.Number.Hex */
    .mo {color: #666666} /* Literal.Number.Oct */
    .sb {color: #BA2121} /* Literal.String.Backtick */
    .sc {color: #BA2121} /* Literal.String.Char */
    .dl {color: #BA2121} /* Literal.String.Delimiter */
    .sh {color: #BA2121} /* Literal.String.Heredoc */
    .sx {color: #008000} /* Literal.String.Other */
    .sr {color: #A45A77} /* Literal.String.Regex */
    .ss {color: #19177C} /* Literal.String.Symbol */
    .bp {color: #008000} /* Name.Builtin.Pseudo */
    .fm {color: #0000FF} /* Name.Function.Magic */
    .vc {color: #19177C} /* Name.Variable.Class */
    .vg {color: #19177C} /* Name.Variable.Global */
    .vi {color: #19177C} /* Name.Variable.Instance */
    .vm {color: #19177C} /* Name.Variable.Magic */
    .il {color: #666666} /* Literal.Number.Integer.Long */

}

