:root{
    --size: 36px;
    --blue: #0065fe;
}

body {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}

#Across, #Down, #Help {text-align: left}
#File {display: none}
.Break {break-before: page}
.Red {color: red}

#Help {
    width: 28em;
    margin-left: calc(50% - 14em);
}

button {
    width: 5em;
    height: 5em;
    padding: 3px;
    margin: 6px;
    border: 1px solid var(--blue);
    border-radius: 7px;
    color: var(--blue);
}

#Crossword {
    margin: 1.25em auto;
    font-family: Inconsolata, monospace;
    font-weight: bold;
    font-size: 24px;
    border-collapse: collapse;
}

#Crossword td {
    min-width: var(--size);
    max-width: var(--size);
    width: var(--size);
    height: var(--size);
    border: 1px solid var(--blue);
    margin: 0;
    padding: 2px;
}

#Crossword td.Letter {
    border: 1px solid black;
    text-align: left;
    font-size: 50%;
    vertical-align: top;
}

#Crossword.Final td:not(.Letter) {background-color: #f0f0f0}

#WordList p {margin: 0.3em 0em}
#WordList p.Unused > span {color: red}

#WordList p > span, span.Link {
    cursor: pointer;
    color: var(--blue);
    text-decoration: underline;
}

#Across, #Down {
    vertical-align: top;
    width: 50%;
}

table {margin: auto}
#Across {padding-right: 1em}
#Down {padding-left: 1em}
