:root {
    --blue: #0065fe;
    --lightblue: #e8e8ff;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    margin-top: calc(1.25em + 32px);
    margin-bottom: 1em;
}

.WideScroll, .AutoScroll {
    margin: auto;
    margin-bottom: 0.5em;
    max-width: calc(100% - 2px);
    overflow: auto;
}

[data-aspect] {max-width: 98%}

.BtnGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;

    button {
        font-size: 85%;
        background-color: white;
        color: var(--blue);
        border: 1px solid white;;
        border-radius: 6px;
        padding: 6px; 
        margin: 0.25em 1em 
    }

    button:hover {
        cursor: pointer;
        border: 1px solid var(--blue);
        background-color: var(--lightblue);
    }

}

.BtnGrid button *:is(img, svg), table.Icons *:is(img, svg) {
    width: 3.5em;
    height: 3.5em;
}

#Top {
    width: calc(100vw - 12px);
    height: 28px;
    padding: 6px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: white;
    border-bottom: 1px solid var(--blue);
    text-align: center;
    color: var(--blue);


}

#Top span {
    margin: 0 3px 0 3px;
    vertical-align: middle;
}

#Top span[data-action] {
    padding: 1px;
    border: 1px solid white;
    border-radius: 5px;
    font-variation-settings: 'wght' 300;
}

#Top span[data-action]:not(.Inactive, .Selected):hover {
    background-color: lightgrey;
    border-color: lightgrey;
}

#Top span[data-action]:not(.Inactive), .Point {cursor: pointer}
#Top span.Left {float: left}

#Top span.Right {
    float: right;
    margin-right: 0.5em;
    visibility: hidden;
}

#Top span.Left span.Inactive {color: lightgrey}
#Top span.Right span.Inactive {display: none}

#Top span.Right span.Selected {
    background-color: var(--lightblue);
    border-color: var(--blue);
}

h2.Title {
    text-align: center;
    font-size: 24px;
}

a, .Link, .Links span {
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}

.Defn {text-decoration: underline;}
.NoBold {font-weight: normal}
.Center, p[data-latex] {text-align: center}
.Blue {color: var(--blue)}
.Small, #Copy {font-size: 80%}
#Copy {margin-top: 3em}

div.Message {
    font-weight: bold;
    font-size: 18px;
    padding: 0.6em;
    border-radius: 6px;
    background-color: #a0a0a0;
    color: white;
    text-align: center;
    min-width: 20em;
    max-width: 80vw;
    position: fixed;
    top: 25vh;
    display: none;
}

table {
    margin: 1em auto;
    border-collapse: collapse;
}

table.Two *:is(td, th) {width: 50%}
table.Three *:is(td, th) {width: 33.33%}
table.Four *:is(td, th) {width: 25%}
table.Five *:is(td, th) {width: 20%}
table.Six *:is(td, th) {width: 16.667%}

table *:is(td, th) {
    min-width: 4em;
    border: 1px solid black;
    padding: 0.2em;
}

table.TD6 *:is(td, th) {min-width: 6em}
table.TD8 *:is(td, th) {min-width: 8em}

table.Icons, table.Calendar {
    min-width: 12em;
    max-width: calc(100% - 4px);

    tbody tr:nth-child(odd) {background-color: var(--lightblue)}
    td:first-child {text-align: center}
}

table.Icons {
    /* width: 90%; */

    td > h3 {color: var(--blue); font-size: 16px}
    td {border: none; padding: 6px}
    * {vertical-align: top}
    *:is(p, h3) {margin: 0.25em}
    *:is(p, h3):first-child {margin-top: 0}
    [data-feed]:hover {background-color: lightgrey; cursor: pointer}

    td:first-child {
        width: 3.5em;

        img {margin-top: 0.4em}
    }
}


table.Calendar {
    width: 40em;

    th {
        color: white;
        background-color: var(--blue);
    }

    td:first-child {width: 8em}
}


#Help table.Icons {width: 44em}
.NoBottom {margin-bottom: 0}
.NoTop {margin-top: 0}
.Answer, .Red {color: red}

/* .Bottom {margin-bottom: 1em}
.Top {margin-top: 1em}
div.Answer {margin-bottom: 0.75em} */

li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

p[data-latex] {
    margin-top: 0.75em;
    margin-bottom: 1em;
}

.Answer:is(p, div, ol, ul), div.Answer > p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p.Caption {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}

body:not(.Present) {

.Present, .Collapse26 {display: none} 
section.Post h2 {font-size: 20px}
section.Post h3 {font-size: 18px}

}


body.Present {

font-size: 250%;
width: calc(100vw - 1em);
margin: 0.5em;

*:is(#Top, #Copy, #Help, h2.Title) {display: none}

.s4 {width: 4em}
.s5 {width: 5em}
.s6 {width: 6em}
.dot {width: 7.35em}
.s8 {width: 8em}
.s10 {width: 10em}
.s11 {width: 11em}
.s12 {width: 12em}
.s14 {width: 14em}
.s16 {width: 16em}
.s18 {width: 18em}
.s20 {width: 20em}
.s22 {width: 22em}
.s24 {width: 24em}
.s28 {width: 28em}
.s30 {width: 30em}
.s32 {width: 32em}
.s36 {width: 36em}

}


@media (max-width: 1079px) {

body:not(.Present), #Top {
    margin-left: 2px;
    margin-right: 2px;
}

}

@media (max-width: 799px) {
    body {font-size: 80%}
}

@media (min-width: 1080px) {

body:not(.Present), #Top {
    max-width: 960px;
    margin-left: calc(50vw - 480px);
}

}
