body {
    font-family:Oxygen, "Segoe UI", sans-serif;
    text-align:center;
    margin:0;
}

img.material {
    height: 1.75em;
    vertical-align:middle;
}

.Left {text-align:left}
.Center, section.Image, section.IFrame {text-align:center}
.Red {color:red}
.Green {color:green}
.Blue, .Link {color:blue}
.Black {color:black}
.Comment {color:#666}
p, li, div {margin:0.5em 0}
ol, ul {padding-left:1.5em}
h1 {margin-top:0}

.Link {
    text-decoration: underline;
    cursor: pointer;
}

.w20 {width:20em}
.w24 {width:24em}
.w28 {width:28em}
.w32 {width:32em}

pre.IO, .Code, code {
    font-family: Consolas, "Source Code Pro", "Lucida Console", monospace;
    font-weight:bold;
}

pre.Code, pre.IO {
    background-color:lightgrey;
    padding:0.5em;
    overflow:auto;
}

pre.Code {color:purple}

table.Auto {
    margin:auto;
    border-collapse:collapse;
}

table.Auto.TD td, table.Auto.TD th {
    border:1px solid black;
    text-align:center;
    padding:4px;
}

table.TD4 td, table.TD4 th {min-width:4em}
table.TD6 td, table.TD6 th {min-width:6em}

#Location {
    max-width:800px;
    margin:0 auto;
    color:blue;
}

#Location > select {
    background:none;
    border:none;
    text-align:center;
    min-width:12em;
    font-size:150%;
    margin:0;
    margin-top:16px;
    cursor:pointer;
}

#Location > p {
    padding-bottom:8px;
    border-bottom:1px solid blue;
    text-align:left;
}

#Location > p > span {
    border-radius:6px;
    padding:4px;
}

#Location > p > span:hover:not(:last-child) {
    cursor:pointer;
    background-color:#a0a0ff;
}

#Location * {color:blue}
#Location > p > span.Current {font-weight:bold}

#Main {
    margin:8px auto;
    text-align:left;
    max-width:800px;
}

iframe, img, canvas, video {max-width:100%}
section {margin:16px 0}
section.Video {text-align:center}

section.Menu > table {
    border-collapse:collapse;
    font-size:125%;
    background-color:#e0e0ff;
    width:100%;
    margin:auto 0;
    color:blue;
}

section.Menu > table tr:nth-child(even) {background-color:#f0f0f0}

section.Menu > table td {
    padding:8px;
    cursor:pointer;
}

section.Menu > table td:first-child {width:2.5em}
section.Menu > table td:not(:first-child) {padding-left:16px}

section.Menu > table td > img {
    width:2.5em;
    height:2.5em;
    vertical-align:middle;
}

section.Icons {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

section.Icons > button {
    margin:0.6em;
    background-color:#fff;
    border:none;
    color:blue;
    cursor:pointer;
}

section.Icons > button > i {font-size:175%}
section.Icons > button * {vertical-align:middle}

section:not(.Icons):not(.Menu) {
    font-size:125%;
    padding:8px;
}

section.HTML h3:first-child {margin-top:0}

p.Teacher {
    color:white;
    font-weight:bold;
    background-color:red;
    cursor:pointer;
    padding:8px;
}

.Caption {
    font-size:75%;
    margin-bottom:1.5em;
}

p.CaptionTitle {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
}

.Copyright {
    text-align:center;
    font-size:75%;
}

.NoWrap {white-space: nowrap}

#Cover {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0d0;
}

#Message {
    position: fixed;
    left: 0;
    top: 5vh;
    background-color: #e0e0ff;
    border: 3px solid black;
    width: 800px;
    padding: 6px;
    max-width: calc(100% - 18px - 1em);
    min-height: 4em;
    text-align: left;
}