:root{
    --w: 1280px;
    --h: 720px;
}

body {
    font-family: "Noto Sans", "Open Sans", Oxygen, sans-serif;
    margin: 0;
    font-size: 225%;
    min-height: 100vh;
}

.NoPresent {display: none}
#Title {color: var(--blue)}

#LessonNotes {
    max-width: 100%;
    padding: 0.5em 1em;
    background-color: white;
}

#LessonNotes section.Slide p {margin: 0.5em 0}

#LessonNotes section.Slide > .Assign {
    color: blue;
    margin: 2em;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

#LessonNotes p[data-qr] {text-align:center}
#LessonNotes p[data-qr] canvas {padding: 1em}

#LessonNotes section.Slide h3:first-child {margin-top: 0}
#LessonNotes .Print {display: none}

body.Movie {background-color: #d0d0d0}

body.Movie #LessonNotes {
    width: calc(var(--w) - 2em);
    height: calc(var(--h) - 1em);
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
}

body.Movie.Red #LessonNotes {background-color: red}
.Wide24 {width: 24em}
