svg:not(.SVG2, .NoStyle) {

g:is(.Symbol, .Serif) text, span.SymbolMetrics, text.Serif {font-family: KaTeX_Main, "Latin Modern Roman", "Droid Serif", "Noto Serif", serif}
text {font-family: "Noto Sans", "Open Sans", sans-serif}
text.Mono {font-family: Inconsolata, monospace}
text.Start {text-anchor: start}
text:is(.Mid, .TickLabelX) {text-anchor: middle}
line:is(.Axis, .AxisX, .AxisY, .TickX, .TickY) {stroke: black; stroke-width: 1.5}
*:is(text, tspan):is(.Small, .Sup, .Sub) {font-size: 14px}
line.Medium {stroke: #808080; stroke-width: 1.5}
text {text-anchor: middle; dominant-baseline: middle}
g.StickMan {stroke-width: 4px; stroke: black; fill: none}

g.Protractor *:is(line, path) {stroke: black; fill: none}
g.Protractor path.Plastic {fill: grey; fill-opacity: 0.1; stroke: none}
g.Protractor text {fill: black}

g.Grid line:not(.AxisX, .AxisY, .TickX, .TickY, .Axis) {stroke: lightgrey; stroke-width: 0.5}

}


svg:not(.SVG2).Graph {

line:not(.AxisX, .AxisY, .TickX, .TickY) {stroke: #0065fe; stroke-width: 3}
.Shade {fill: #0065fe; stroke: none; fill-opacity: 0.2}
polyline {fill: none; stroke: #0065fe; stroke-width: 3}
*:is(circle, rect, polygon) {fill: #0065fe; stroke: black}
    
text:not(.Small, .Sup, .Sub) {
    stroke-width: 0;
    font-size: 18px;
}

g.Grid text, text:is(.TickLabelX, .TickLabelY) {
    font-size: 16px;
    fill: black;
}

text:is(.TickLabelY, .End) {text-anchor: end}
}


svg:not(.SVG2).VDiag {
    
*:is(.Resultant, circle, polygon) {
    fill: #0065fe;
    stroke: black;
    stroke-width: 0.5;
}

line:is(.Axis, .AxisX, .AxisY, .TickX, .TickY) {stroke: #808080; stroke-width: 1.5}
polygon:is(.Vector, .Resultant, .Component, .Res_Component) {fill-opacity: 0.6}
polygon.Vector {fill: red}
polygon.Component {fill: #ffc0c0}
polygon.Res_Component {fill: #c0c0ff}

text.Annotate {
    font-family: Inconsolata, monospace;
    font-size: 22px;
    fill: black;
}

g.Grid text, text:is(.TickLabelX, .TickLabelY) {
    font-family: Inconsolata, monospace;
    font-size: 14px;
    fill: #808080;
}

text:is(.TickLabelY) {text-anchor: end}

}


svg:not(.SVG2).FBD {
polygon {stroke: black; stroke-width: 0.5}
polygon.Vector {fill: red}
polygon.Blue {fill: #0065FE}
polygon.Green {fill: limegreen}
}


svg:not(.SVG2).EnergyBar {

g.Labels g.Symbol text.Symbol {
    font-size: 24px;
    font-style: italic;
    fill: #0065fe;
}

text:not(.Symbol) {font-size: 18px; text-anchor: end}
.Bars rect {fill: #0065fe; stroke: black}
line.TotalEnergy {stroke: black; stroke-width: 3}

}
