svg.SVG2 {

*:not(text, tspan) {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

text {
    font-size: 18px;
    stroke: none;
    fill: black;
    dominant-baseline: middle;
    text-anchor: middle;
}

text.Mono {font-family: Inconolata, monospace}

.Symbol, .Symbol text {
    font-family: KaTeX_Main, "Latin Modern Roman", "Droid Serif", "Noto Serif", serif;
}

.Bold {font-weight: bold}
.Ital {font-style: italic}

g.F15 > text, .F15 {font-size: 15px}
g.F18 > text, .F18 {font-size: 18px}
g.F28 > text, .F28 {font-size: 28px}

g.StickMan > * {stroke-width: 3px}

g.Grid > line:not(.Axis) {
    stroke: lightgrey;
    stroke-width: 0.5px;
}

g.Plot {circle, rect {fill: var(--blue)}}
g.Plot.Red {circle, rect {fill: red}}
g.Plot.Orange {circle, rect {fill: orange}}
g.Plot.Grey {circle, rect {fill: grey}}
g.Plot.Green {circle, rect {fill: green}}
g.Plot.Purple {circle, rect {fill: purple}}
g.Plot.Violet {circle, rect {fill: violet}}

g.VectorDiagram {fill-opacity: 0.6}

g.Arrow > polygon {
    fill: red;
    stroke-width: 0.5px;
}

g.Arrow.Resultant > polygon {fill: #0065fe}
g.Arrow.Component > polygon {fill-opacity: 0.2}

polyline.Locus {
    stroke-width: 3px;
    stroke: var(--blue);
}

}


svg.SVG2.VectorDiagram {

g.Labels text {
    font-family: Inconsolata, monospace;
    font-size: 16px;
    fill: grey;
}

text.Zero {display: none}
g.TipToTail2D {fill-opacity: 0.7}

}


table.VectorTable {

td, th {
    text-align: center;
    min-width: 6em;
    width: 25%;
}

tr:not(.Resultant):nth-child(even) td:nth-child(even), tr:not(.Resultant):nth-child(odd) td:nth-child(odd)
    {background-color: #ffe8e8}

tr:not(.Resultant):nth-child(even) td:nth-child(odd), tr:not(.Resultant):nth-child(odd) td:nth-child(even)
    {background-color: #ffd8d8}

tr.Resultant td:nth-child(even) {background-color: #d8d8ff}
tr.Resultant td:nth-child(odd) {background-color: #e8e8ff}

tr:nth-child(even) th:nth-child(even), tr:nth-child(odd) th:nth-child(odd) {background-color: #e8e8e8}
tr:nth-child(even) th:nth-child(odd), tr:nth-child(odd) th:nth-child(even) {background-color: #d8d8d8}

}
