svg.SVG2 {

*:not(text, tspan) {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

text {
    font-size: 18px;
    stroke: none;
    fill: black;
    dominant-baseline: middle;
    text-anchor: middle;
}

text.Mono {font-family: Inconolata, monospace}

.Symbol {
    font-family: KaTeX_Main, "Latin Modern Roman", "Droid Serif", "Noto Serif", serif;
}

.Bold {font-weight: bold}
.Ital {font-style: italic}
.F80 {font-size: 80%}

g.StickMan > * {stroke-width: 3px}

g.Grid > line:not(.Axis) {stroke: lightgrey}

g.Plot {circle, rect {fill: var(--blue)}}
g.Plot.Red {circle, rect {fill: red}}
g.Plot.Orange {circle, rect {fill: orange}}
g.Plot.Grey {circle, rect {fill: grey}}
g.Plot.Green {circle, rect {fill: green}}
g.Plot.Purple {circle, rect {fill: purple}}
g.Plot.Violet {circle, rect {fill: violet}}

g.VectorDiagram {fill-opacity: 0.6}
g.Arrow > polygon {fill: red}
g.Arrow.Resultant > polygon {fill: #0065fe}
g.Arrow.Component > polygon {fill: yellow}

polyline.Locus {
    stroke-width: 3px;
    stroke: var(--blue);
}

}
