:root {
    --blue: #0065fe;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14pt;
    margin-top: calc(1.25em + 32px);
    margin-bottom: 3em;
}

body:not(.Present) {

.Present {display: none} 
section.Post *:is(h2, h3) {font-size: 14pt}

}

.WideScroll, .AutoScroll {
    margin: auto;
    margin-bottom: 0.5em;
    max-width: calc(100% - 2px);
    overflow: auto;
}

[data-aspect] {max-width: 98%}

.BtnGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}

.BtnGrid button {
    font-size: 75%;
    background-color: white;
    color: var(--blue);
    border: 1px solid white;;
    border-radius: 6px;
    padding: 6px; 
    margin: 0.25em 1em 
}

.BtnGrid button:hover {
    cursor: pointer;
    border: 1px solid var(--blue);
    background-color: #d0d0ff;
}

.BtnGrid button *:is(img, svg) {
    width: 3em;
    height: 3em;
}

body.NavOverflow #Top span.Title {display: none}
body:not(.NavOverflow) h2.Title {display: none}

#Top {
    width: calc(100vw - 12px);
    height: 1.5em;
    padding: 6px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    color: var(--blue);
}

#Top span {
    margin: 0 3px 0 3px;
    vertical-align: middle;
}

#Top span[data-action] {
    padding: 1px;
    border: 1px solid white;
    font-variation-settings: 'wght' 300;
}

#Top span[data-action]:not(.Inactive, .Selected):hover {background-color: lightgrey}
#Top span[data-action]:not(.Inactive) {cursor: pointer}
#Top span.Left {float: left}

#Top span.Right {
    float: right;
    margin-right: 0.5em;
    visibility: hidden;
}

#Top span.Left span.Inactive {color: lightgrey}
#Top span.Right span.Inactive {display: none}
#Top span.Right span.Selected {border-bottom-color: var(--blue)}

#Top span.Title {
    font-weight: bold;
    color: black;
}

h2.Title {
    text-align: center;
    font-size: 18pt;
}

.Center, p[data-latex] {text-align: center}
.Blue, a, .Link {color: var(--blue)}

.Small, #Copy {font-size: 80%}

#Copy {
    width: 100vw;
    height: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: 1px solid lightgrey;
    text-align: center;
    margin: 0;
    padding: 3px 0 3px 0;
}

table {
    margin: 1em auto;
    border-collapse: collapse;
}

table.Two td, table.Two th {width: 50%}
table.Three td {width: 33.33%}
table.Four td {width: 25%}
table.Five td {width: 20%}
table.Six td {width: 16.667%}

table td, table th {
    min-width: 4em;
    border: 1px solid black;
    padding: 0.2em;
}

table.TD6 td {min-width: 6em}
table.TD8 td {min-width: 8em}
/* .Bottom {margin-bottom: 1em}
.Top {margin-top: 1em} */
.NoBottom {margin-bottom: 0}
.NoTop {margin-top: 0}
.Answer, .Red {color: red}
/* div.Answer {margin-bottom: 0.75em} */

.Answer:is(p, div, ol, ul) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p.Caption {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}


@media (min-width: 1080px) {

body {
    max-width: 80%;
    margin-left: 10%;
}

}
