:root {
    --blue: #0065fe;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14pt;
    margin-top: calc(1.25em + 32px);
    margin-bottom: 32px;
}

body.NavOverflow #Top span.Title {display: none}
body:not(.NavOverflow) h2.Title {display: none}

#Top {
    width: calc(100vw - 12px);
    height: 1.5em;
    padding: 6px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    color: var(--blue);
}

#Top span {
    padding: 0 3px 0 3px;
    vertical-align: middle;
}

#Top span[data-action] {font-variation-settings: 'wght' 300}
#Top span[data-action]:not(.Inactive) {cursor: pointer}
#Top span.Left {float: left}
#Top span.Right {float: right}
#Top span.Left span.Inactive {color: lightgrey}
#Top span.Right span.Inactive {display: none}

#Top span.Title {
    font-weight: bold;
    color: black;
}

h2.Title {
    text-align: center;
    font-size: 18pt;
}

.Small, #Copy {font-size: 80%}

#Copy {
    width: 100vw;
    height: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: 1px solid lightgrey;
    text-align: center;
    margin: 0;
    padding: 3px 0 3px 0;
}

@media (min-width: 1080px) {

body {
    max-width: 80%;
    margin-left: 10%;
}

}
